name: Build

on:
    push:
        branches: [ main ]
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                goos: [linux, windows, darwin]
                goarch: [amd64, arm64]
        steps:
            - uses: actions/checkout@v4
            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version: '1.21'
            - name: Build
              run: |
                GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o bin/myapp-${{ matrix.goos }}-${{ matrix.goarch }} ./main
                